.homeFaq-container {
  /* border: solid red; */
  padding: 50px;
  background-color: var(--customBg1);
  margin-top: 30px;
}
.homeFaq-wrapper {
  /* border: solid blue; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.homeFaq-content {
  /* border: solid green; */
  width: 50%;
  height: 100%;
  padding: 20px;
}
.homeFaq-content > h2 {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  color: var(--textColor2);
  font-size: 40px;
}

.homeFaq-content > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.accordion-button:not(.collapsed) {
  background-color: var(--textColor1) !important;
  color: white;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.homeFaq-accItem {
  border-bottom:1px solid rgb(203, 203, 203);
  margin: 10px;
}
.homeFaq-accHeader {
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .homeFaq-container {
    /* border: solid red; */
    padding: 10px;
  }
  .homeFaq-wrapper {
    /* border: solid blue; */
    flex-direction: column-reverse;
    padding: 10px;
  }
  .homeFaq-content {
    /* border: solid green; */
    width: 100%;
    padding: 10px;
  }
  .homeFaq-content > img {
display: none;
}
}
