.role-section {
  background: #f9f9f9;
  padding: 60px 20px;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  margin-top: 50px;
}

.role-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px auto;
}

.role-header h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--textColor2);
}

.role-header p {
  font-size: 1.1rem;
  color: var(--textColor1);
  line-height: 1.6;
}

.role-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.role-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  height: 300px;
  width: 300px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.role-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.role-icon {
  font-size: 2.8rem;
  color: var(--customColor1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.role-card:hover .role-icon {
  transform: scale(1.2);
}

.role-card h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #222;
  font-weight: 600;
}

.role-card p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.role-conclusion {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.15rem;
  color: #444;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
  .role-header h2 {
    font-size: 30px;
  }
  .role-header p {
    text-align: justify;
  }
  .role-card p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  text-align: justify;
}
  .role-conclusion p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  text-align: justify;
}
}
