.qatarReviews-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.qatarReviews-heading {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.qatarReviews-heading > h2 {
  font-size: 40px;
  color: var(--textColor2);
  margin-bottom: 16px;
  text-align: center;
}

.qatarReviews-content {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .qatarReviews-heading > h2 {
    font-size: 30px;
    color: var(--textColor2);
    margin-bottom: 16px;
    text-align: center;
  }
}
