.whyChoose-container {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  margin-top: 20px;
}
.whyChoose-content {
  /* border: solid green; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.whyChoose-content > h2 {
  text-align: center;
  color: var(--textColor2);
}
.whyChoose-content:nth-child(1) {
  width: 40%;
  height: 100vh;
}
.whyChoose-content:nth-child(2) {
  width: 60%;
}
.whyChoose-item {
  /* border: solid blue; */
  height: 100%;
  width: 100%;
  border-radius: 0px 50% 0% 0;
  overflow: hidden;
}
.whyChoose-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.whyChoose-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.whyChoose-cardContainer {
  /* border: solid green; */
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: var(--customColor1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 1px;
}
.whyChoose-cardContainer:nth-child(2),
.whyChoose-cardContainer:nth-child(4),
.whyChoose-cardContainer:nth-child(5),
.whyChoose-cardContainer:nth-child(7),
.whyChoose-cardContainer:nth-child(10),
.whyChoose-cardContainer:nth-child(12) {
  background-color: var(--customColor2);
}
.whyChoose-cardContainer > img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.whyChoose-cardContainer > h5 {
  text-align: center;
  font-size: 18px;
  color: white;
}
/* -------------------------------------------------------------------------- */
/* .whyChoose1-cardContainer {
  border: solid red;
  width: 200px;
  height: 200px;
}
.whyChoose1-cardContent {
  width: 100%;
  height: 50%;
  border-radius: 0 0% 50% 50%;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: flex-e;
  background-color: rgba(255, 0, 0, 0.503);
}
.whyChoose1-cardContent > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
} */

@media screen and (max-width: 768px) {
  .whyChoose-container {
    /* border: solid red; */
    padding: 20px;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .whyChoose-content {
    /* border: solid green; */
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .whyChoose-content:nth-child(1) {
    width: 100%;
  }
  .whyChoose-content:nth-child(2) {
    width: 100%;
  }
  .whyChoose-item {
    /* border: solid blue; */
    height: 100%;
    width: 100%;
    border-radius: 0px 0% 0% 0;
    overflow: hidden;
  }
}
