.footer-container {
  width: 100%;
}
.footer-wrapper {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}
.footer-content {
  width: 400px;
}
.footer-content > p {
  color: white;
  margin-top: 10px;
  font-size: 18px;
  text-align: justify;
}
.footer-wrapper > ul {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.footer-wrapper > ul > li {
  list-style: none;
  color: white;
}
.footer-wrapper:nth-child(1) {
  background-color: #4f5a65;
}
.footer-wrapper:nth-child(3) {
  background-color: #3f4850;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wrapper > ul > li > a {
  text-decoration: none;
  color: white;
}
.footer-contactContainer {
  /* border: solid blue; */
  width: 400px;
}
.footer-contactLink > a {
  color: white;
  text-decoration: none;
}
.footer-contactText > h5 {
  color: rgb(211, 211, 211);
}
.footer-contactContainer > li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
}
.footer-contactIcon {
  font-size: 20px;
}
.footer-line {
  /* border:  solid blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3f4850;
  position: relative;
}
.footer-line > span {
  border: solid 1px white;
  width: 40%;
  margin-top: -10px;
}
.footer-line > li {
  list-style: none;
  margin-top: -10px;
}
.footer-line > li > a {
  color: white;
  text-decoration: none;
}
.footer-lineIco {
  font-size: 22px;
}
.footer-wrapper > p {
  color: white;
}
@media screen and (max-width: 768px) {
  .footer-wrapper {
    /* border: solid red; */
    flex-direction: column;
  }
  .footer-content {
  width: 100%;
}
}
