.keywords-container {
  width: 100%;
  margin: auto;
  background: #ffffff;
  padding: 10px;
  border-radius: 16px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}

.acl-title {
  font-size: 40px;
  text-align: center;
  color: var(--textColor2);
}
/* .acl-title > span {
  color: var(--customColor1);
} */

/* 💥 Multi-column layout */
.acl-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(20 * 35px); /* 30 rows * approx 22px height each */
  column-count: 3; /* auto split in 2 columns */
  column-gap: 30px;
}

.acl-item {
  background: #f5f7fb;
  padding: 8px 10px;
  margin: 6px 0;
  border-radius: 8px;
  font-size: 17px;
  border-left: 4px solid var(--customColor1);
  break-inside: avoid; /* prevents items from breaking between columns */
  transition: 0.25s ease;
  width: 15 0px;
}

.acl-item:hover {
  background: #e8f0ff;
  transform: translateX(3px);
}
@media screen and (max-width: 768px) {
  .acl-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: fit-content; /* 30 rows * approx 22px height each */
    column-count: 1; /* auto split in 2 columns */
    column-gap: 30px;
    padding: 10px;
  }
  .acl-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .acl-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: fit-content; /* 30 rows * approx 22px height each */
    column-count: 3; /* auto split in 2 columns */
    column-gap: 30px;
    padding: 10px;
  }
  .acl-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .acl-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: fit-content; /* 30 rows * approx 22px height each */
    column-count: 5; /* auto split in 2 columns */
    column-gap: 30px;
    padding: 10px;
  }
  .acl-title {
    font-size: 30px;
  }
}
